body {
  font-family: Arial;
}

.flexbox {
	display: flex;
 	flex-wrap: nowrap;
	align: center;
  flex-direction: column;
  align-items: center;
}


.leftCol {
    float: left;
    max-width: 50%;
    max-height: 10%;
}

div {
  padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    
justify-content: space-evenly;
}